{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<section id="showItem">
    <div class="container">
        <div class="row">
            {% include "flash_messages.html" %}
            {% include "category_list.html" %}

            <div class="col-md-9">
                <a href="{{url_for('addItem')}}" class="list-group-item">Add Item</a>

                {% for i in items %}
                <div class="thumbnail text-center">
                    <div class="caption-full">
                        <a href = "{{url_for('showItem', category_name = i.category.name, item_name = i.name)}}">
                            <img class="img-display" src="{{ i.picture }}" alt="{{ i.name }}">
                        </a>
                    </div>
                    <a href = "{{url_for('showItem', category_name = i.category.name, item_name = i.name)}}">
                        <h3>{{ i.name }}</h3>
                    </a>
                    <a href="{{url_for('showCategory', category_name = i.category.name,)}}">
                        <h6>{{ i.category.name }}</h6>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}